In [13]:
import pandas as pd
from datetime import date

In [14]:
today = date.today()
d1 = today.strftime("%d-%m-%Y")

In [15]:
all_stocks = pd.read_excel(r"C:\Users\ishan\Downloads\StockPaid\01-03-2024.xlsx")
portfolio = pd.read_excel(r"C:\Users\ishan\Downloads\StockInfo\SamplePortfolio-Yateen.xlsx")

all_stocks = pd.DataFrame(all_stocks)
portfolio = pd.DataFrame(portfolio)
all_stocks

,sr,Symbol,name,bsecode,per_chg,close,volume,Source
0,1,TATAELXSI,Tata Elxsi Limited,500408.0,0.75,7869.90,148998,Nifty 500 weekly MA 100
1,2,SKFINDIA,Skf India Limited,500472.0,-1.65,4645.00,10379,Nifty 500 weekly MA 100
2,3,LALPATHLAB,Dr. Lal Path Labs Ltd.,539524.0,-1.06,2326.75,55691,Nifty 500 weekly MA 100
3,4,GRINDWELL,Grindwell Norton Limited,506076.0,1.45,2118.95,3829,Nifty 500 weekly MA 100
4,5,METROPOLIS,Metropolis Healthcare Ltd,542650.0,3.79,1662.60,437707,Nifty 500 weekly MA 100
...,...,...,...,...,...,...,...,...
411,17,PETRONET,Petronet Lng Limited,532522.0,1.88,278.60,1875256,Nifty 200- Daily 513 MA
412,18,BANKINDIA,Bank Of India,532149.0,2.40,134.60,5283051,Nifty 200- Daily 513 MA
413,19,SAIL,Steel Authority Of India Limited,500113.0,6.02,128.50,66052883,Nifty 200- Daily 513 MA
414,1,ICICIPRULI,Icici Prudential Life Insurance Company Limited,540133.0,1.06,538.30,1078184,Nifty 200 - weekly - 513
415,2,CGPOWER,CG Power and Industrial Solutions Ltd,500093.0,5.16,466.10,14569511,Nifty 200 - weekly - 513

In [16]:
merged_df = all_stocks[all_stocks['Symbol'].isin(portfolio['Symbol'])]
merged_df

,sr,Symbol,name,bsecode,per_chg,close,volume,Source
0,1,TATAELXSI,Tata Elxsi Limited,500408.0,0.75,7869.90,148998,Nifty 500 weekly MA 100
13,1,TATAELXSI,Tata Elxsi Limited,500408.0,0.75,7869.90,148998,Nifty 500- Daily 100 MA
14,2,APOLLOHOSP,Apollo Hospitals Enterprise Limited,508869.0,-0.29,6083.70,1306420,Nifty 500- Daily 100 MA
19,7,TITAN,Titan Company Limited,500114.0,2.96,3731.80,744958,Nifty 500- Daily 100 MA
28,16,JBCHEPHARM,Jb Chemicals & Pharmaceuticals Limited,506943.0,-1.03,1545.70,54141,Nifty 500- Daily 100 MA
32,20,MAXHEALTH,Max Healthcare Institute Ltd,543220.0,-8.03,729.65,10572922,Nifty 500- Daily 100 MA
48,3,PERSISTENT,Persistent Systems Limited,533179.0,-0.13,8618.90,86770,Nifty 500- Daily 513 MA
51,6,TITAN,Titan Company Limited,500114.0,2.96,3731.80,744958,Nifty 500- Daily 513 MA
55,10,ADANIGREEN,Adani Green Energy Ltd,541450.0,3.43,1960.10,487340,Nifty 500- Daily 513 MA
58,13,HDFCBANK,Hdfc Bank Limited,500180.0,0.98,1417.20,8546869,Nifty 500- Daily 513 MA
74,29,SAIL,Steel Authority Of India Limited,500113.0,5.98,128.45,65868634,Nifty 500- Daily 513 MA
87,6,TATAELXSI,Tata Elxsi Limited,500408.0,0.75,7869.90,148998,Nifty Cash- Daily 100 MA
88,7,APOLLOHOSP,Apollo Hospitals Enterprise Limited,508869.0,-0.29,6083.70,1306420,Nifty Cash- Daily 100 MA
94,13,TITAN,Titan Company Limited,500114.0,2.96,3731.80,744958,Nifty Cash- Daily 100 MA
104,23,MPSLTD,Mps Limited,532440.0,9.12,1615.40,80790,Nifty Cash- Daily 100 MA
106,25,JBCHEPHARM,Jb Chemicals & Pharmaceuticals Limited,506943.0,-1.03,1545.70,54141,Nifty Cash- Daily 100 MA
127,46,MAXHEALTH,Max Healthcare Institute Ltd,543220.0,-8.03,729.65,10572922,Nifty Cash- Daily 100 MA
223,18,PERSISTENT,Persistent Systems Limited,533179.0,-0.13,8618.90,86770,Nifty Cash - Daily 513 MA
228,23,TITAN,Titan Company Limited,500114.0,2.96,3731.80,744958,Nifty Cash - Daily 513 MA
234,29,MPSLTD,Mps Limited,532440.0,9.12,1615.40,80790,Nifty Cash - Daily 513 MA
235,30,HDFCBANK,Hdfc Bank Limited,500180.0,0.98,1417.20,8546869,Nifty Cash - Daily 513 MA
244,39,INDIASHLTR,India Shelter Finance Corporation Ltd,544044.0,1.57,639.90,16299,Nifty Cash - Daily 513 MA
246,41,WINDLAS,Windlas Biotech Ltd,543329.0,13.89,573.30,1067951,Nifty Cash - Daily 513 MA
334,1,APOLLOHOSP,Apollo Hospitals Enterprise Limited,508869.0,-0.29,6083.70,1306420,Nifty 50- Daily 100 MA
336,3,TITAN,Titan Company Limited,500114.0,2.96,3731.80,744958,Nifty 50- Daily 100 MA
344,5,TITAN,Titan Company Limited,500114.0,2.96,3731.80,744958,Nifty 50- Daily 513 MA
347,8,HDFCBANK,Hdfc Bank Limited,500180.0,0.98,1417.20,8546869,Nifty 50- Daily 513 MA
350,1,APOLLOHOSP,Apollo Hospitals Enterprise Limited,508869.0,-0.29,6083.70,1306420,Nifty 100- Daily 100 MA
352,3,TITAN,Titan Company Limited,500114.0,2.96,3731.80,744958,Nifty 100- Daily 100 MA
362,4,TITAN,Titan Company Limited,500114.0,2.96,3731.80,744958,Nifty 100- Daily 513 MA
365,7,ADANIGREEN,Adani Green Energy Ltd,541450.0,3.43,1960.10,487340,Nifty 100- Daily 513 MA
367,9,HDFCBANK,Hdfc Bank Limited,500180.0,0.98,1417.20,8546869,Nifty 100- Daily 513 MA
373,2,PERSISTENT,Persistent Systems Limited,533179.0,-0.13,8618.90,86770,Midcap 50- Daily 513 MA
377,6,SAIL,Steel Authority Of India Limited,500113.0,5.98,128.45,65868634,Midcap 50- Daily 513 MA
378,1,TATAELXSI,Tata Elxsi Limited,500408.0,0.73,7868.15,150009,Nifty 200- Daily 100 MA
379,2,APOLLOHOSP,Apollo Hospitals Enterprise Limited,508869.0,-0.14,6092.85,1310490,Nifty 200- Daily 100 MA
382,5,TITAN,Titan Company Limited,500114.0,3.06,3735.20,746438,Nifty 200- Daily 100 MA
386,9,MAXHEALTH,Max Healthcare Institute Ltd,543220.0,-8.02,729.75,10582663,Nifty 200- Daily 100 MA
391,1,TATAELXSI,Tata Elxsi Limited,500408.0,0.73,7868.15,150009,Nifty 200 - weekly - 100 MA
399,5,TITAN,Titan Company Limited,500114.0,3.06,3735.20,746438,Nifty 200- Daily 513 MA
403,9,ADANIGREEN,Adani Green Energy Ltd,541450.0,3.51,1961.60,488035,Nifty 200- Daily 513 MA
405,11,HDFCBANK,Hdfc Bank Limited,500180.0,1.00,1417.50,8565980,Nifty 200- Daily 513 MA
413,19,SAIL,Steel Authority Of India Limited,500113.0,6.02,128.50,66052883,Nifty 200- Daily 513 MA

In [17]:
report_df = pd.DataFrame(columns=["Symbol"] + list(merged_df["Source"].unique()))
report_df["Symbol"] = merged_df["Symbol"]

In [18]:
for scanner in all_stocks["Source"].unique():
    report_df[scanner] = ""

In [19]:
for _, row in merged_df.iterrows():
    mask = report_df["Symbol"] == row["Symbol"]
    report_df.loc[mask, row["Source"]] = "âœ”"
report_df.replace("", float("nan"), inplace=True)
report_df

C:\Users\ishan\AppData\Local\Temp\ipykernel_13456\4092194685.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  report_df.replace("", float("nan"), inplace=True)

,Symbol,Nifty 500 weekly MA 100,Nifty 500- Daily 100 MA,Nifty 500- Daily 513 MA,Nifty Cash- Daily 100 MA,Nifty Cash - Daily 513 MA,Nifty 50- Daily 100 MA,Nifty 50- Daily 513 MA,Nifty 100- Daily 100 MA,Nifty 100- Daily 513 MA,...,Nifty 200- Daily 513 MA,Nifty 500- Monthly 100 MA,Nifty 500 - weekly - 513,Nifty Cash- Monthly 100 MA,Nifty Cash- Monthly 513 MA,Nifty Cash - weekly 5/13,Nifty 100 - weekly - 100 MA,Nifty 100 - weekly - 513,Midcap 50- Daily 100 MA,Nifty 200 - weekly - 513
0,TATAELXSI,âœ”,âœ”,NaN,âœ”,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,TATAELXSI,âœ”,âœ”,NaN,âœ”,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,APOLLOHOSP,NaN,âœ”,NaN,âœ”,NaN,âœ”,NaN,âœ”,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,TITAN,NaN,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,...,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,JBCHEPHARM,NaN,âœ”,NaN,âœ”,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,MAXHEALTH,NaN,âœ”,NaN,âœ”,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,PERSISTENT,NaN,NaN,âœ”,NaN,âœ”,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,TITAN,NaN,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,...,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,ADANIGREEN,NaN,NaN,âœ”,NaN,NaN,NaN,NaN,NaN,âœ”,...,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,HDFCBANK,NaN,NaN,âœ”,NaN,âœ”,NaN,âœ”,NaN,âœ”,...,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,SAIL,NaN,NaN,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,...,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,TATAELXSI,âœ”,âœ”,NaN,âœ”,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,APOLLOHOSP,NaN,âœ”,NaN,âœ”,NaN,âœ”,NaN,âœ”,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,TITAN,NaN,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,...,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,MPSLTD,NaN,NaN,NaN,âœ”,âœ”,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,JBCHEPHARM,NaN,âœ”,NaN,âœ”,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,MAXHEALTH,NaN,âœ”,NaN,âœ”,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,PERSISTENT,NaN,NaN,âœ”,NaN,âœ”,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,TITAN,NaN,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,...,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,MPSLTD,NaN,NaN,NaN,âœ”,âœ”,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,HDFCBANK,NaN,NaN,âœ”,NaN,âœ”,NaN,âœ”,NaN,âœ”,...,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,INDIASHLTR,NaN,NaN,NaN,NaN,âœ”,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,WINDLAS,NaN,NaN,NaN,NaN,âœ”,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
334,APOLLOHOSP,NaN,âœ”,NaN,âœ”,NaN,âœ”,NaN,âœ”,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336,TITAN,NaN,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,...,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
344,TITAN,NaN,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,...,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,HDFCBANK,NaN,NaN,âœ”,NaN,âœ”,NaN,âœ”,NaN,âœ”,...,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350,APOLLOHOSP,NaN,âœ”,NaN,âœ”,NaN,âœ”,NaN,âœ”,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
352,TITAN,NaN,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,...,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,TITAN,NaN,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,...,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365,ADANIGREEN,NaN,NaN,âœ”,NaN,NaN,NaN,NaN,NaN,âœ”,...,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
367,HDFCBANK,NaN,NaN,âœ”,NaN,âœ”,NaN,âœ”,NaN,âœ”,...,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373,PERSISTENT,NaN,NaN,âœ”,NaN,âœ”,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,SAIL,NaN,NaN,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,...,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
378,TATAELXSI,âœ”,âœ”,NaN,âœ”,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379,APOLLOHOSP,NaN,âœ”,NaN,âœ”,NaN,âœ”,NaN,âœ”,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382,TITAN,NaN,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,...,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
386,MAXHEALTH,NaN,âœ”,NaN,âœ”,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
391,TATAELXSI,âœ”,âœ”,NaN,âœ”,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,TITAN,NaN,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,âœ”,...,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,ADANIGREEN,NaN,NaN,âœ”,NaN,NaN,NaN,NaN,NaN,âœ”,...,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,HDFCBANK,NaN,NaN,âœ”,NaN,âœ”,NaN,âœ”,NaN,âœ”,...,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
413,SAIL,NaN,NaN,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,...,âœ”,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
report_df.to_excel(rf"C:\Users\ishan\Downloads\PortfolioAnalysisPaid\PortfolioAnalysis{d1}.xlsx", index=False)

In [21]:
with pd.ExcelWriter(rf"C:\Users\ishan\Downloads\PortfolioAnalysisPaid\PortfolioAnalysis{d1}.xlsx", engine="xlsxwriter") as writer:
    report_df.to_excel(writer, index=False, sheet_name="Sheet1", columns=report_df.columns)

    # Access the XlsxWriter workbook and worksheet objects
    workbook  = writer.book
    worksheet = writer.sheets["Sheet1"]

    # Adjust the column width to fit the content
    for i, col in enumerate(report_df.columns):
        max_len = max(report_df[col].astype(str).apply(len).max(), len(col))
        worksheet.set_column(i, i, max_len + 2)  # Adding a little extra space

# Close the Pandas Excel writer and output the Excel file
writer.close()

c:\Users\ishan\AppData\Local\Programs\Python\Python311\Lib\site-packages\xlsxwriter\workbook.py:369: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")