In [79]:
import pandas as pd
from datetime import date

In [80]:
today = date.today()
d1 = today.strftime("%d-%m-%Y")

In [81]:
all_stocks = pd.read_excel(rf"C:\Users\ishan\Downloads\StockPaid\Paid{d1}.xlsx")
portfolio = pd.read_excel(r"C:\Users\ishan\Downloads\StockInfo\SamplePortfolio-Yateen.xlsx")

all_stocks = pd.DataFrame(all_stocks)
portfolio = pd.DataFrame(portfolio)
all_stocks

,sr,Symbol,name,bsecode,per_chg,close,volume,Source
0,1,BALKRISIND,Balkrishna Industries Limited,502355.0,0.76,2268.00,15881,Nifty 500 weekly MA 100
1,2,METROPOLIS,Metropolis Healthcare Ltd,542650.0,-0.82,1699.05,18553,Nifty 500 weekly MA 100
2,3,BORORENEW,Borosil Renewables Ltd,502219.0,-1.02,563.30,225969,Nifty 500 weekly MA 100
3,4,CHEMPLASTS,Chemplast Sanmar Ltd,543336.0,-1.60,484.10,19590,Nifty 500 weekly MA 100
4,5,IEX,Indian Energy Exchange Ltd,540750.0,4.99,151.55,16170347,Nifty 500 weekly MA 100
...,...,...,...,...,...,...,...,...
228,35,RAJRILTD,Raj Rayon Industries Ltd,530699.0,1.98,28.30,18185,Nifty Cash - weekly 5/13
229,36,PRAKASHSTL,Prakash Steelage Limited,533239.0,3.11,8.30,1046144,Nifty Cash - weekly 5/13
230,1,BALKRISIND,Balkrishna Industries Limited,502355.0,0.76,2268.00,15881,Midcap 50 - weekly - 100 MA
231,1,BALKRISIND,Balkrishna Industries Limited,502355.0,0.76,2268.00,15881,Nifty 200 - weekly - 100 MA
232,1,CGPOWER,CG Power and Industrial Solutions Ltd,500093.0,1.69,472.85,1163321,Nifty 200 - weekly - 513

In [82]:
merged_df = all_stocks[all_stocks['Symbol'].isin(portfolio['Symbol'])]
merged_df

,sr,Symbol,name,bsecode,per_chg,close,volume,Source
34,11,MPSLTD,Mps Limited,532440.0,2.25,1660.00,13589,Nifty Cash- Daily 100 MA
213,20,CMSINFO,CMS Info Systems Ltd,543441.0,0.74,401.85,517738,Nifty Cash - weekly 5/13

In [83]:
report_df = pd.pivot_table(merged_df, index=["Symbol"], columns="Source", aggfunc=lambda x: "✔", fill_value="")

In [84]:
report_df.columns = [f'{col[1]}' if col[1] else col[0] for col in report_df.columns]

In [85]:
report_df = report_df.loc[:, ~report_df.columns.duplicated()]

In [86]:
report_df.reset_index(inplace=True)

In [87]:
import shutil
from openpyxl import load_workbook, Workbook
from openpyxl.utils.dataframe import dataframe_to_rows

In [88]:
template_path = r"C:\Users\ishan\Downloads\PortfolioAnalysisPaid\SamplePortfolioAnalyzerReportFormat-Premium.xlsx"
report_path = rf"C:\Users\ishan\Downloads\PortfolioAnalysisPaid\PortfolioAnalysis{d1}.xlsx"

In [91]:
shutil.copyfile(template_path, report_path)

'C:\\Users\\ishan\\Downloads\\PortfolioAnalysisPaid\\PortfolioAnalysis03-03-2024.xlsx'

In [92]:
wb = load_workbook(template_path)
sheet = wb.active

In [93]:
for idx, row in enumerate(dataframe_to_rows(report_df, index=False, header=False), start=13):
    for col_idx, value in enumerate(row, start=1):
        sheet.cell(row=idx, column=col_idx, value=value)

In [94]:
wb.save(report_path)

In [49]:
report_df.to_excel(rf"C:\Users\ishan\Downloads\PortfolioAnalysisPaid\PortfolioAnalysis{d1}.xlsx", index=False)

In [32]:
with pd.ExcelWriter(rf"C:\Users\ishan\Downloads\PortfolioAnalysisPaid\PortfolioAnalysis{d1}.xlsx", engine="xlsxwriter") as writer:
    report_df.to_excel(writer, index=False, sheet_name="Sheet1", columns=report_df.columns)

    # Access the XlsxWriter workbook and worksheet objects
    workbook  = writer.book
    worksheet = writer.sheets["Sheet1"]

    # Adjust the column width to fit the content
    for i, col in enumerate(report_df.columns):
        max_len = max(report_df[col].astype(str).apply(len).max(), len(col))
        worksheet.set_column(i, i, max_len + 2)  # Adding a little extra space

# Close the Pandas Excel writer and output the Excel file
writer.close()

c:\Users\ishan\AppData\Local\Programs\Python\Python311\Lib\site-packages\xlsxwriter\workbook.py:369: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")