In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from datetime import date

In [4]:
today = date.today()
d1 = today.strftime("%d-%m-%Y")

In [8]:
url = 'https://chartink.com/screener/process'

daily_100 = {'scan_clause': '( {cash} ( ( {cash} ( ( {cash} ( abs ( latest sma ( latest close , 100 ) - latest low ) / latest low < 0.05 ) ) or ( {cash} ( latest low < latest sma ( latest close , 100 ) and latest high > latest sma ( latest close , 100 ) ) ) ) ) ) ) '}
weekly_100 = {'scan_clause': '( {cash} ( ( {cash} ( ( {cash} ( ( {cash} ( abs ( weekly sma ( weekly close , 100 ) - weekly low ) / weekly low < 0.05 ) ) or ( {cash} ( latest low < weekly sma ( weekly close , 100 ) and latest high > weekly sma ( weekly close , 100 ) ) ) ) ) ) ) ) ) '}
monthly_100 = {'scan_clause': '( {cash} ( ( {cash} ( ( {cash} ( abs ( monthly sma ( monthly close , 100 ) - monthly low ) / monthly low < 0.05 ) ) or ( {cash} ( latest low < monthly sma ( monthly close , 100 ) and latest high > monthly sma ( monthly close , 100 ) ) ) ) ) ) ) '}
daily_513b = {'scan_clause': '( {cash} ( ( {cash} ( ( {cash} ( ( {cash} ( ( {cash} ( abs ( latest ema ( latest close , 5 ) - latest ema ( latest close , 13 ) ) / latest ema ( latest close , 13 ) < 0.005 ) ) ) ) ) ) or ( {cash} ( latest ema ( latest close , 5 ) < latest ema ( latest close , 13 ) and 1 day ago  ema ( latest close , 5 )>= 1 day ago  ema ( latest close , 13 ) ) ) ) ) ) ) '}
weekly_513b = {'scan_clause': '( {cash} ( ( {cash} ( ( {cash} ( ( {cash} ( ( {cash} ( abs ( weekly ema ( weekly close , 5 ) - weekly ema ( weekly close , 13 ) ) / weekly ema ( weekly close , 13 ) < 0.005 ) ) ) ) ) ) or ( {cash} ( weekly ema ( weekly close , 5 ) < weekly ema ( weekly close , 13 ) and 1 week ago  ema ( weekly close , 5 )>= 1 week ago  ema ( weekly close , 13 ) ) ) ) ) ) ) '}
monthly_513b = {'scan_clause': '( {cash} ( ( {cash} ( ( {cash} ( ( {cash} ( ( {cash} ( abs ( monthly ema ( monthly close , 5 ) - monthly ema ( monthly close , 13 ) ) / monthly ema ( monthly close , 13 ) < 0.005 ) ) ) ) ) ) or ( {cash} ( monthly ema ( monthly close , 5 ) < monthly ema ( monthly close , 13 ) and 1 month ago  ema ( monthly close , 5 )>= 1 month ago  ema ( monthly close , 13 ) ) ) ) ) ) ) '}
daily_513 = {'scan_clause': '( {cash} ( ( {cash} ( ( {cash} ( ( {cash} ( ( {cash} ( abs ( latest ema ( latest close , 5 ) - latest ema ( latest close , 13 ) ) / latest ema ( latest close , 13 ) < 0.005 ) ) ) ) and 1 day ago high < 2 days ago high and latest high > 1 day ago high ) ) or ( {cash} ( latest ema ( latest close , 5 ) > latest ema ( latest close , 13 ) and 1 day ago  ema ( latest close , 5 )<= 1 day ago  ema ( latest close , 13 ) ) ) ) ) ) ) '}
weekly_513 = {'scan_clause': '( {cash} ( ( {cash} ( ( {cash} ( ( {cash} ( ( {cash} ( abs ( weekly ema ( weekly close , 5 ) - weekly ema ( weekly close , 13 ) ) / weekly ema ( weekly close , 13 ) < 0.005 ) ) ) ) and 1 week ago high < 2 weeks ago high and weekly high > 1 week ago high ) ) or ( {cash} ( weekly ema ( weekly close , 5 ) > weekly ema ( weekly close , 13 ) and 1 week ago  ema ( weekly close , 5 )<= 1 week ago  ema ( weekly close , 13 ) ) ) ) ) ) ) '}
monthly_513 = {'scan_clause': '( {cash} ( ( {cash} ( ( {cash} ( ( {cash} ( ( {cash} ( abs ( monthly ema ( monthly close , 5 ) - monthly ema ( monthly close , 13 ) ) / monthly ema ( monthly close , 13 ) < 0.005 ) ) ) ) and 1 month ago high < 2 months ago high and monthly high > 1 month ago high ) ) or ( {cash} ( monthly ema ( monthly close , 5 ) > monthly ema ( monthly close , 13 ) and 1 month ago  ema ( monthly close , 5 )<= 1 month ago  ema ( monthly close , 13 ) ) ) ) ) ) ) '}

In [9]:
with requests.session() as s:
    r_data = s.get(url)
    soup = bs(r_data.content, 'lxml')
    meta = soup.find('meta', {'name': 'csrf-token'})["content"]

In [10]:
header = {"x-csrf-token": meta}

In [11]:
data_daily_100 = s.post(url, headers=header, data=daily_100).json()
data_weekly_100 = s.post(url, headers=header, data=weekly_100).json()
data_monthly_100 = s.post(url, headers=header, data=monthly_100).json()
data_daily_513b = s.post(url, headers=header, data=daily_513b).json()
data_weekly_513b = s.post(url, headers=header, data=weekly_513b).json()
data_monthly_513b = s.post(url, headers=header, data=monthly_513b).json()
data_daily_513 = s.post(url, headers=header, data=daily_513).json()
data_weekly_513 = s.post(url, headers=header, data=weekly_513).json()
data_monthly_513 = s.post(url, headers=header, data=monthly_513).json()

In [13]:
df_data_daily_100 = pd.DataFrame(data_daily_100['data']).assign(Source = '100 D')
df_data_weekly_100 = pd.DataFrame(data_weekly_100['data']).assign(Source = '100 W')
df_data_monthly_100 = pd.DataFrame(data_monthly_100['data']).assign(Source = '100 M')
df_data_daily_513b = pd.DataFrame(data_daily_513b['data']).assign(Source = '5/13 D -')
df_data_weekly_513b = pd.DataFrame(data_weekly_513b['data']).assign(Source = '5/13 W -')
df_data_monthly_513b = pd.DataFrame(data_monthly_513b['data']).assign(Source = '5/13 M -')
df_data_daily_513 = pd.DataFrame(data_daily_513['data']).assign(Source = '5/13 D +')
df_data_weekly_513 = pd.DataFrame(data_weekly_513['data']).assign(Source = '5/13 W +')
df_data_monthly_513 = pd.DataFrame(data_monthly_513['data']).assign(Source = '5/13 M +')

In [15]:
final_df = pd.concat(
    [df_data_monthly_513, df_data_monthly_513b, df_data_weekly_513, df_data_weekly_513b, df_data_daily_513, df_data_daily_513b, df_data_monthly_100, df_data_weekly_100, df_data_daily_100]
    ,ignore_index=True  
)
final_df

,sr,nsecode,name,bsecode,per_chg,close,volume,Source
0,1,NIFTYALPHA50,NIFTYALPHA50,None,0.57,47130.20,0,5/13 M +
1,2,NIFTY100EQLWGT,NIFTY100EQLWGT,None,0.42,29131.40,0,5/13 M +
2,3,NIFTYSERVSECTOR,NIFTYSERVSECTOR,None,0.10,28043.80,0,5/13 M +
3,4,NIFTY200QUALITY30,NIFTY200QUALITY30,None,0.32,18791.30,0,5/13 M +
4,5,NIFTY100LOWVOL30,NIFTY100LOWVOL30,None,0.22,18152.15,0,5/13 M +
...,...,...,...,...,...,...,...,...
1939,611,GATECH,GACM Technologies Ltd,531723,3.03,1.70,215790,100 D
1940,612,SRPL,Shree Ram Protiens Ltd,532567,3.85,1.35,656472,100 D
1941,613,GOENKA,Goenka Diamond And Jewels Limited,533189,6.25,0.85,21299,100 D
1942,614,FEL,Future Enterprises Limited,523574,6.67,0.80,50013,100 D
1943,615,SITINET,Siti Networks Limited,532795,-6.25,0.75,4424496,100 D

In [16]:
final_df.rename(columns={'nsecode': 'Symbol'}, inplace=True)
final_df

,sr,Symbol,name,bsecode,per_chg,close,volume,Source
0,1,NIFTYALPHA50,NIFTYALPHA50,None,0.57,47130.20,0,5/13 M +
1,2,NIFTY100EQLWGT,NIFTY100EQLWGT,None,0.42,29131.40,0,5/13 M +
2,3,NIFTYSERVSECTOR,NIFTYSERVSECTOR,None,0.10,28043.80,0,5/13 M +
3,4,NIFTY200QUALITY30,NIFTY200QUALITY30,None,0.32,18791.30,0,5/13 M +
4,5,NIFTY100LOWVOL30,NIFTY100LOWVOL30,None,0.22,18152.15,0,5/13 M +
...,...,...,...,...,...,...,...,...
1939,611,GATECH,GACM Technologies Ltd,531723,3.03,1.70,215790,100 D
1940,612,SRPL,Shree Ram Protiens Ltd,532567,3.85,1.35,656472,100 D
1941,613,GOENKA,Goenka Diamond And Jewels Limited,533189,6.25,0.85,21299,100 D
1942,614,FEL,Future Enterprises Limited,523574,6.67,0.80,50013,100 D
1943,615,SITINET,Siti Networks Limited,532795,-6.25,0.75,4424496,100 D

In [ ]:
final_df.to_excel(rf'C:\Users\ishan\Downloads\StockPaid\Paid{d1}.xlsx', index=False)