In [92]:
import pandas as pd
from datetime import date

In [93]:
today = date.today()
d1 = today.strftime("%d-%m-%Y")

In [94]:
all_stocks = pd.read_excel(rf"C:\Users\ishan\Downloads\StockPaid\Paid{d1}.xlsx")
portfolio = pd.read_excel(r"C:\Users\ishan\Downloads\StockInfo\SamplePortfolio-Yateen.xlsx")

all_stocks = pd.DataFrame(all_stocks)
portfolio = pd.DataFrame(portfolio)
all_stocks

,sr,Symbol,name,bsecode,per_chg,close,volume,Source
0,1,TATAELXSI,Tata Elxsi Limited,500408.0,-0.84,7745.25,217689,Nifty 500 weekly MA 100
1,2,SKFINDIA,Skf India Limited,500472.0,-0.40,4704.00,22475,Nifty 500 weekly MA 100
2,3,LALPATHLAB,Dr. Lal Path Labs Ltd.,539524.0,-1.00,2328.10,164957,Nifty 500 weekly MA 100
3,4,BALKRISIND,Balkrishna Industries Limited,502355.0,0.98,2250.85,1018688,Nifty 500 weekly MA 100
4,5,GRINDWELL,Grindwell Norton Limited,506076.0,1.03,2110.15,14455,Nifty 500 weekly MA 100
...,...,...,...,...,...,...,...,...
556,22,TATASTEEL,Tata Steel Limited,500470.0,6.46,149.95,123709943,Nifty 200- Daily 513 MA
557,23,BANKINDIA,Bank Of India,532149.0,3.77,136.40,10702960,Nifty 200- Daily 513 MA
558,24,SAIL,Steel Authority Of India Limited,500113.0,9.74,133.00,140528760,Nifty 200- Daily 513 MA
559,1,ICICIPRULI,Icici Prudential Life Insurance Company Limited,540133.0,1.28,539.45,1851960,Nifty 200 - weekly - 513
560,2,CGPOWER,CG Power and Industrial Solutions Ltd,500093.0,4.91,465.00,18454109,Nifty 200 - weekly - 513

In [95]:
merged_df = all_stocks[all_stocks['Symbol'].isin(portfolio['Symbol'])]
merged_df

,sr,Symbol,name,bsecode,per_chg,close,volume,Source
0,1,TATAELXSI,Tata Elxsi Limited,500408.0,-0.84,7745.25,217689,Nifty 500 weekly MA 100
14,1,TATAELXSI,Tata Elxsi Limited,500408.0,-0.84,7745.25,217689,Nifty 500- Daily 100 MA
15,2,APOLLOHOSP,Apollo Hospitals Enterprise Limited,508869.0,-0.32,6082.20,1749136,Nifty 500- Daily 100 MA
20,7,TITAN,Titan Company Limited,500114.0,3.90,3765.90,1533727,Nifty 500- Daily 100 MA
32,19,JBCHEPHARM,Jb Chemicals & Pharmaceuticals Limited,506943.0,-1.95,1531.40,112417,Nifty 500- Daily 100 MA
37,24,MAXHEALTH,Max Healthcare Institute Ltd,543220.0,-7.13,736.75,20868068,Nifty 500- Daily 100 MA
59,7,TITAN,Titan Company Limited,500114.0,3.90,3765.90,1533727,Nifty 500- Daily 513 MA
64,12,ADANIGREEN,Adani Green Energy Ltd,541450.0,3.93,1969.55,947425,Nifty 500- Daily 513 MA
67,15,HDFCBANK,Hdfc Bank Limited,500180.0,1.95,1430.75,17369449,Nifty 500- Daily 513 MA
88,36,SAIL,Steel Authority Of India Limited,500113.0,9.74,133.00,140528760,Nifty 500- Daily 513 MA
106,6,TATAELXSI,Tata Elxsi Limited,500408.0,-0.84,7745.25,217689,Nifty Cash- Daily 100 MA
107,7,APOLLOHOSP,Apollo Hospitals Enterprise Limited,508869.0,-0.32,6082.20,1749136,Nifty Cash- Daily 100 MA
113,13,TITAN,Titan Company Limited,500114.0,3.90,3765.90,1533727,Nifty Cash- Daily 100 MA
128,28,MPSLTD,Mps Limited,532440.0,9.67,1623.55,147023,Nifty Cash- Daily 100 MA
132,32,JBCHEPHARM,Jb Chemicals & Pharmaceuticals Limited,506943.0,-1.95,1531.40,112417,Nifty Cash- Daily 100 MA
162,62,MAXHEALTH,Max Healthcare Institute Ltd,543220.0,-7.13,736.75,20868068,Nifty Cash- Daily 100 MA
194,94,CMSINFO,CMS Info Systems Ltd,543441.0,3.84,398.90,8216004,Nifty Cash- Daily 100 MA
320,24,TITAN,Titan Company Limited,500114.0,3.90,3765.90,1533727,Nifty Cash - Daily 513 MA
329,33,MPSLTD,Mps Limited,532440.0,9.67,1623.55,147023,Nifty Cash - Daily 513 MA
330,34,HDFCBANK,Hdfc Bank Limited,500180.0,1.95,1430.75,17369449,Nifty Cash - Daily 513 MA
339,43,INDIASHLTR,India Shelter Finance Corporation Ltd,544044.0,1.68,640.60,41183,Nifty Cash - Daily 513 MA
341,45,WINDLAS,Windlas Biotech Ltd,543329.0,14.94,578.60,1568607,Nifty Cash - Daily 513 MA
377,81,SAIL,Steel Authority Of India Limited,500113.0,9.74,133.00,140528760,Nifty Cash - Daily 513 MA
449,25,CMSINFO,CMS Info Systems Ltd,543441.0,3.84,398.90,8216004,Nifty Cash - weekly 5/13
466,1,APOLLOHOSP,Apollo Hospitals Enterprise Limited,508869.0,-0.32,6082.20,1749136,Nifty 50- Daily 100 MA
468,3,TITAN,Titan Company Limited,500114.0,3.90,3765.90,1533727,Nifty 50- Daily 100 MA
477,6,TITAN,Titan Company Limited,500114.0,3.90,3765.90,1533727,Nifty 50- Daily 513 MA
480,9,HDFCBANK,Hdfc Bank Limited,500180.0,1.95,1430.75,17369449,Nifty 50- Daily 513 MA
485,1,APOLLOHOSP,Apollo Hospitals Enterprise Limited,508869.0,-0.32,6082.20,1749136,Nifty 100- Daily 100 MA
487,3,TITAN,Titan Company Limited,500114.0,3.90,3765.90,1533727,Nifty 100- Daily 100 MA
498,5,TITAN,Titan Company Limited,500114.0,3.90,3765.90,1533727,Nifty 100- Daily 513 MA
501,8,ADANIGREEN,Adani Green Energy Ltd,541450.0,3.93,1969.55,947425,Nifty 100- Daily 513 MA
503,10,HDFCBANK,Hdfc Bank Limited,500180.0,1.95,1430.75,17369449,Nifty 100- Daily 513 MA
516,6,SAIL,Steel Authority Of India Limited,500113.0,9.74,133.00,140528760,Midcap 50- Daily 513 MA
517,1,TATAELXSI,Tata Elxsi Limited,500408.0,-0.84,7745.25,217689,Nifty 200- Daily 100 MA
518,2,APOLLOHOSP,Apollo Hospitals Enterprise Limited,508869.0,-0.32,6082.20,1749136,Nifty 200- Daily 100 MA
521,5,TITAN,Titan Company Limited,500114.0,3.90,3765.90,1533727,Nifty 200- Daily 100 MA
525,9,MAXHEALTH,Max Healthcare Institute Ltd,543220.0,-7.13,736.75,20868068,Nifty 200- Daily 100 MA
530,1,TATAELXSI,Tata Elxsi Limited,500408.0,-0.84,7745.25,217689,Nifty 200 - weekly - 100 MA
541,7,TITAN,Titan Company Limited,500114.0,3.90,3765.90,1533727,Nifty 200- Daily 513 MA
546,12,ADANIGREEN,Adani Green Energy Ltd,541450.0,3.93,1969.55,947425,Nifty 200- Daily 513 MA
548,14,HDFCBANK,Hdfc Bank Limited,500180.0,1.95,1430.75,17369449,Nifty 200- Daily 513 MA
558,24,SAIL,Steel Authority Of India Limited,500113.0,9.74,133.00,140528760,Nifty 200- Daily 513 MA

In [96]:
report_df = pd.pivot_table(merged_df, index=["Symbol"], columns="Source", aggfunc=lambda x: "âœ”", fill_value="")

In [97]:
report_df.columns = [f'{col[1]}' if col[1] else col[0] for col in report_df.columns]

In [98]:
report_df = report_df.loc[:, ~report_df.columns.duplicated()]

In [99]:
report_df.reset_index(inplace=True)

In [100]:
report_df.to_excel(rf"C:\Users\ishan\Downloads\PortfolioAnalysisPaid\PortfolioAnalysis{d1}.xlsx", index=False)

In [101]:
with pd.ExcelWriter(rf"C:\Users\ishan\Downloads\PortfolioAnalysisPaid\PortfolioAnalysis{d1}.xlsx", engine="xlsxwriter") as writer:
    report_df.to_excel(writer, index=False, sheet_name="Sheet1", columns=report_df.columns)

    # Access the XlsxWriter workbook and worksheet objects
    workbook  = writer.book
    worksheet = writer.sheets["Sheet1"]

    # Adjust the column width to fit the content
    for i, col in enumerate(report_df.columns):
        max_len = max(report_df[col].astype(str).apply(len).max(), len(col))
        worksheet.set_column(i, i, max_len + 2)  # Adding a little extra space

# Close the Pandas Excel writer and output the Excel file
writer.close()

c:\Users\ishan\AppData\Local\Programs\Python\Python311\Lib\site-packages\xlsxwriter\workbook.py:369: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")